<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Flask & Solr demo app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    
    <div class="d-flex align-items-center justify-content-center">
      <div class="header">
      {% with messages = get_flashed_messages() %}
          {% if messages %}
              <ul class="flashes alert alert-warning" role="alert">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
              </ul>
          {% endif %}
      {% endwith %}

      
      <form
        method="post"
        action="/"
        class="form-inline justify-content-center"
        style="display: flex"
      >
        <input
          type="text"
          name="search-term"
          id="search-term"
          class="form-control mr-3"
          placeholder="Search Term"
        />
        <select name="search-type" id="search-type" class="form-control mr-3">
            {% for header in headers %}
            <option value="id">{{ header }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>
    </div>
    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for( 'upload') }}';">Upload a file</button>
    <div class="numresults" style="font-weight: bold">
      {% if numresults is not none %} Number of Results:
      <span style="margin-left: 12px">{{ num_of_results }}</span>
      {% endif %}
    </div>
    <table class="table"></table>
    <div class="padding">
      <div class="row container d-flex justify-content-center">
        <div class="col-md-8">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Your Search Results</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-bordered">
                <tr>
                  {% for key, value in headers.items() %}
                  <th>{{ key }}</th>
                  {% endfor %}
                </tr>
                <tbody>
                  {% for document in results %}
                  <tr>
                    {% for key, value in headers.items() %}

                    <td>{{ document[value] }}</td>

                    {% endfor %} {% endfor %}
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="#" data-abc="true">&laquo;</a></li>
                <li><a href="#" data-abc="true">1</a></li>
                <li><a href="#" data-abc="true">2</a></li>
                <li><a href="#" data-abc="true">3</a></li>
                <li><a href="#" data-abc="true">&raquo;</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
